


         .btnActivar {background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%)}
         .btnActivar {
            margin: 10px;
            padding: 5px 20px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            border: none;            
            border-radius: 10px;
            display: flex;
          }

          .btnActivar:hover {
            background-position: right center; /* change the direction of the change here */
            text-decoration: none;
          }
         


          .btnDesactivar {background-image: linear-gradient(to right, #f85032 0%, #e73827  51%, #f85032  100%)}
          .btnDesactivar {
             margin: 10px;
             padding: 5px 20px;
             text-align: center;
             text-transform: uppercase;
             transition: 0.5s;
             border:none;
             background-size: 200% auto;
             color: white;            
             border-radius: 10px;
             display: flex;
             justify-content:center;
           }
 
           .btnDesactivar:hover {
             background-position: right center; /* change the direction of the change here */
             color: #fff;
             text-decoration: none;
           }

           
         .btnPdf {background-image: linear-gradient(to right, #6a3093 0%, #a044ff  51%, #6a3093  100%)}
         .btnPdf {
            margin: 10px;
            padding: 5px 20px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border: none;
            border-radius: 10px;
            display: flex;
            justify-content:center;
            text-decoration: none;
          }
          .linkpdf{
            text-decoration: none;
            color: white;
          }
          .linkpdf:hover{
            text-decoration: none;
            color: white;
          }
          .btnPdf:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

          
         .btn-agregarProy {background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%)}
         .btn-agregarProy {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            border: none;
            display: block;
          }

          .btn-agregarProy:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
         
          